<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=blog.title%></title>
  <link rel="icon" type="image/png" href="/assets/img/favicon.ico">

  <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/vendors/linericon/style.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!--================Header Menu Area =================-->
  <%-include('header')%>
  <!--================Header Menu Area =================-->

  <main class="site-main">
    <!--================Hero Banner start =================-->
    <%-include('banner')%>
    <!--================Hero Banner end =================-->
    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="main_blog_details">
              <img class="img-fluid" src="img/blog/blog4.png" alt="">
              <a href="#">
                <h4><%=blog.title%></h4>
              </a>
              <div class="user_details">
                <div class="float-left">
                  <a href="#"><%=blog.category%></a>
                </div>
                <div class="float-right mt-sm-0 mt-3">
                  <div class="media">
                    <div class="media-body">
                      <h5><%=blog.author%></h5>
                      <p><%=blog.date.toLocaleDateString("en-US")%></p>
                    </div>
                  </div>
                </div>
              </div>
              <%- blog.body%>
            </div>


            <!-- <div class="navigation-area">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                  <div class="thumb">
                    <a href="#"><img class="img-fluid" src="img/blog/prev.jpg" alt=""></a>
                  </div>
                  <div class="arrow">
                    <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                  </div>
                  <div class="detials">
                    <p>Prev Post</p>
                    <a href="#">
                      <h4>A Discount Toner</h4>
                    </a>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                  <div class="detials">
                    <p>Next Post</p>
                    <a href="#">
                      <h4>Cartridge Is Better</h4>
                    </a>
                  </div>
                  <div class="arrow">
                    <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                  </div>
                  <div class="thumb">
                    <a href="#"><img class="img-fluid" src="img/blog/next.jpg" alt=""></a>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="comments-area">

            </div>

          </div>

          <!-- Start Blog Post Siddebar -->
          <div class="col-lg-4 sidebar-widgets">
            <div class="widget-wrap">
              <%-include('sidebar')%>
            </div>
          </div>
          <!-- End Blog Post Siddebar -->
        </div>
    </section>
    <!--================ End Blog Post Area =================-->
  </main>

  <!--================ Start Footer Area =================-->
  <%- include('footer')%>
  <!--================ End Footer Area =================-->

  <script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/mail-script.js"></script>
  <script src="/js/main.js"></script>
  <script type="text/javascript" src="/headerpublic.js"></script>
</body>

</html>